.alpha {
    border: 1px solid transparent;
    width:928px;
   border-radius: 30px; 
   margin: 30px auto;
   display:block;
background-image: linear-gradient(to bottom right, #C9DEF4, #D0DBEF, #D8D8E9, #DFD5E4, #E6D2DF, #EECFD9, #F5CCD4);
}
.beta {
    text-align:center;
margin-top: 20px;
}
.gamma {
    text-align: center;
    display:inline;
    width:275px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.features {
font-size: 14px;
list-style: none;
}

h1 {
    text-align:center;
    font-size: 40px;
    padding-block-start: 10px;
    padding-block-end: 0px;
    font-family: aboreto;
}
input {
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgb(239, 228, 240);
}
form {
    text-align: center;
}
h2 {
    font-size: 40px;
        padding-block-start: 10px;
        font-family:aboreto;
}
.cond {
    
}
h3 { 
        font-size: 100px;
}
.icon {
    font-size: 20px;
}

h4 {
    font-size: 30px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    font-family:aboreto;

}

h6 {
    text-align: center;
    font-size: 24px;
    padding-block-start: 5px;
    padding-block-end: 0px;
    font-family: aboreto;
}
.country {
    text-align: center;
        font-size: 24px;
        font-family: aboreto;
}
.fahrenheit {
font-size: 12px;
position: relative;
}
.celsius {
font-size: 12px;
position: relative;
}

.currentLocation {
    border-radius: 15px;
    width: 250px;
    margin: 6px 0px 0px 0px;
    border: 1px solid rgb(239, 228, 240);
    background-image: rgb(239, 228, 240);
}
.delta {
    text-align:center;
    padding-block-start: 10px;
    transition-duration: 250ms;
    font-family: aboreto;
}

.weather-forecast-date {
    font-family: aboreto;
    font-size: 12px;
}


.forcastButton {
    border-radius: 30px;
    width:125px;
    border: 1px solid rgb(239, 228, 240);
background-image: rgb(239, 228, 240);
font-size: 12px;
}

.forcastButton:hover {
    background-color: #D0DBEF;
}